@import 'default';

$black: #000;
$white: #fff;
$mainBlack: #202020;
$orange:#FF3D00;
$pink: #EF5DA8;
$blue:#0085FF;
$gray: #939393;
$lightgray: #e3e3e3;

@mixin font($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: $size;
}
@mixin button($color){
    border: 1px solid $color;
    color: $color;
    @include font(900);
    padding: 10px 0;
    background-color: $white;
    font-size: 14px;
    transition: 0.5s;
    width: 100%;
    border-radius: 5px;
}
@mixin activeButton($color){
    @include button($color);
    background-color: $color;
    color: $white;
    cursor: pointer;
}
@mixin cover($height) {
        position: relative;
        width: 100%;
        padding-top: $height;
        img, .content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }  
}
%container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $lightgray;
    border-radius: 8px;
    background: $white;
    
}

.btn{
    &.orange{
        @include button($orange);
        &:hover{
            @include activeButton($orange);
        }
    }
    &.blue{
        @include button($blue);
        &:hover{
            @include activeButton($blue);
        }
    }
}

p{
    @include font(400);
}
h1,h2,h3{
    @include font(900);
}
h4{
    @include font(700);
}

section{
    margin-bottom: 80px;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    background-color: #F7F7F7;
}
header{
    @extend %container;
    padding: 38px 0;
    .burger-menu{
        padding: 5px;
        border-radius: 5px;
        transition: 0.5s;
        &:hover{
            background-color: #ef5da856;
            cursor: pointer;
        }
        .line{
            width: 18px;
            height: 2px;
            background-color: $mainBlack;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;

            }
        }
    }
    .active{
        color: $pink;
        fill: $orange;
    }
   nav{
        a{
            margin-left: 20px;
        }
   }
    path{
        transition: 0.5s;
        fill: $mainBlack;
        &:hover{
            fill:#FF3D00
        }
    }
}
.main{
    @extend %container;
    .rectangle{ 
        &.cover{
            @include cover(25%);
            width: 48%;
            background-color: $blue;
            border-radius: 8px;
            img{
                border-radius: 8px;
            }
        }
        h2{
            font-size: 20px;
            color: $white;
            margin: 38px 55px;
        }
    }
    
}
.cards{
    @extend %container;
    .card{
        width: 18%;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        .cover{
            @include cover(100%);
            img{
                border-radius: 8px 8px 0 0;
            }
        }
        .card-content{
            padding: 10px 10px;
            .title{
                margin-bottom: 14px;
            }
            .desc{
                font-size: 12px;
                margin-bottom: 8px;
            }
            .duration{
                font-size: 10px;
                margin-bottom: 8px;
            }
        }
    }
}
.main-form{
    form{
        @extend %form-container;
        width: 35%;
        margin: 0 auto;
        padding: 15px 20px 25px 20px;
        h2{
            margin-bottom: 30px;
            text-align: center;
        }
        input[type="text"]{
            margin-bottom: 10px;
            width: 95%;
            border: 1px solid $lightgray;
            border-radius: 6px;
            padding: 7px 11px;
            @include font(700);
            font-size: 10px;
        }
    }
    

}